<div class="container-fluid" id="wrapper">
  <div class="row">
      
  <app-navbar></app-navbar>

  <main class="col-xs-12 col-sm-8 offset-sm-4 col-lg-9 offset-lg-3 col-xl-10 offset-xl-2 pt-3 pl-4">
    <header class="page-header row justify-center"  *ngIf="_nav.visible">
        <div class="col-md-6 col-lg-8" >
          <h1 class="float-left text-center text-md-left">{{title}}</h1>
        </div>
        
        <div class="dropdown user-dropdown col-md-6 col-lg-4 text-center text-md-right"><a class="btn btn-stripped dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <div class="username mt-1">
            <h4 class="mb-1">{{currentUser | async}}</h4>
            
            <h6 class="text-muted">Super Admin</h6>
          </div>
          </a>
          
         
        </div>
        
        <div class="clear"></div>
      </header>
      <section class="row">
					<div class="col-sm-12">
						<section class="row">
							<div class="col-md-12 col-lg-12">
                  <router-outlet></router-outlet>
							</div></section></div></section>

</main>
  </div>
</div>



  
  
  