
      <div class="card mb-4">
          <div class="card-block">
            <h3 class="card-title">Je schulden en vorderingen</h3>
         		
            <div class="dropdown card-title-btn-container">
                <button class="btn btn-sm btn-subtle" type="button"><em class="fa fa-plus"></em> Toevoegen</button>
                
              </div>
            <div class="divider" style="margin-top: 1rem;"></div>
            
            <div class="articles-container">
             <app-debt *ngFor="let localDebt of debts" [debt]="localDebt"></app-debt>
            </div>
          </div>
        </div>
  
 