<div class="article border-bottom">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-2 date">
          <div class="large"><span [ngClass]="priceColor" class="negative">€{{debt._price}}</span></div>
          
          <div class="text-muted">{{debt._dateSpent | date:'dd-MMM'}}</div>
        </div>
        
        <div class="col-10">
          <h4><a routerLink="/debt/{{debt._id}}">{{debt._title}}</a></h4>
          
          <p>{{debt._description}}</p>
        </div>
      </div>
    </div>
    
    <div class="clear"></div>
  </div>