<nav class="navbar navbar-inverse" role="navigation" *ngIf="nav.visible">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-5">
        <span class="sr-only">Toggle navigation</span>
      </button>
      <a class="navbar-brand" href="#">Flat UI</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-5">
      <ul class="nav navbar-nav">
          <li><a  routerLinkActive='active' routerLink="debt/list" >Alle schulden</a></li>
          <li><a  routerLinkActive='active' routerLink="debt/add" >Toevoegen</a></li>
          <li><a *ngIf='(currentUser | async) else loginlink' routerLinkActive='active' routerLink="/logout">
            {{currentUser|async}}</a>
            <ng-template #loginlink>
              <a routerLinkActive='active' routerLink="/login">log in</a>
            </ng-template>
          </li>
       </ul>
    </div><!-- /.navbar-collapse -->
  </nav>